.container{
    display: inline-block;
    padding: 5px;
}
.container-album {
    position: relative;
    text-align: center;
    color: white;
}

.center-album {
    position: absolute;
    padding-left: 15px;
}

.typed-out{
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    font-size: 1.6rem;
    width: 0;
    animation:
            typing 2s steps(22, end) forwards,
            blink 1s infinite;
}

@keyframes blink {
    from { border-color: transparent }
    to { border-color: orange; }
}

@keyframes typing {
    from { width: 0 }
    to { width: 105% }
}